{% extends 'adminBase.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\adminAccept.css' %}">
{% endblock %}
{% block content %}
<form class="filter" method="get">
        <label class="container">На розгляді
            <input type="checkbox" class="checkbox" name="status" value="in proceed">
            <span class="checkmark"></span>
          </label>
          <label class="container">Відмволено
            <input type="checkbox" class="checkbox" name="status" value="canceled">
            <span class="checkmark"></span>
          </label>
          <label class="container">Прийнято
            <input type="checkbox" class="checkbox" name="status" value="accepted">
            <span class="checkmark"></span>
          </label>
          <label class="container">Оплачено
            <input type="checkbox" class="checkbox" name="status" value="payed">
            <span class="checkmark"></span>
          </label>
          <button type="submit" id="sort" style="margin-left: 27px;">Знайти</button>
</form>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Заявки</th>
                <th>Статус</th>
                <th>Номер Заявки</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Номер телефона</th>
                <th>Комната</th>
                <th>Поверх</th>
                <th>Гуртожиток №</th>
            </tr>
        </thead>
        <tbody>
            {% if applications %}
                {% for application in applications %}
                    <tr>
                        <td>
                            {% if application.status == "Прийнято"%}
                                <button class="decline-btn" value={{application.id}}>Отклонить</button>
                            {% elif  application.status == "Відмовлено"%}
                                <button class="accept-btn" value={{application.id}}>Принять</button>
                            {% elif  application.status == "На розгляді"%}
                                <button class="accept-btn" value={{application.id}}>Принять</button>
                                <button class="decline-btn" value={{application.id}}>Отклонить</button>
                            {% endif %}
                        </td>
                        <td>
                            <p>{{application.status}}</p>
                        </td>
                        <td>
                            <p>{{application.number_application}}</p>
                        </td>
                        <td>
                            <p>{{application.user.last_name}}</p>
                        </td>
                        <td>
                            <p>{{application.user.first_name}}</p>
                        </td>
                        <td>
                            <p>{{application.user.contact_number}}</p>
                        </td>
                        <td>
                            <p>{{ application.room.number|cut:"<"  }}<</p>
                        </td>
                        <td>
                            <p>{{ application.room.floor.number|cut:"<" }}<</p>
                        </td>
                        <td>
                            <p>{{ application.room.campus|cut:"<" }}<</p>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="8">
                        <p style="text-align: center; font-size: large;">Нема заявок</p>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js\handle_application.js' %}"></script>
{% endblock %}
