<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\documentation.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header id="admin-header">
        <div class="logo">
            <a href="{% url 'main' %}">
                <img src="{% static 'img\Лого_англ_гориз_кольор.png' %}" alt="DUT1899">
            </a>
        </div>
        <nav>
        </nav>
    </header>
    <main>
        <div class="documentation-container">
            <h1>Як користуватись нашим сайтом</h1>
            
            <h2>Для студентів, що заселяються:</h2>
            <hr>
            <h3>Титульна сторінка</h3>
            <p>
            <strong>Навігаційний рядок</strong><br>
                "Наші гуртожитки": Клацніть на цю кнопку, щоб перейти до розділу із зображеннями наших гуртожитків. В цьому розділі
                ви знайдете карусель зображень, де можна дізнатися деталі про розташування гуртожитку та інфраструктуру навколо
                будівлі - магазини, кафе тощо.
            </p>
            <p>
                <strong>Реєстрація</strong><br>
                Червона кнопка "Заселитися": Щоб розпочати процес реєстрації, клацніть на цю кнопку. Вам буде запропоновано створити
                свій аккаунт на веб-сайті. Слідкуйте за інструкціями на екрані, щоб завершити реєстрацію.
            </p>
            
            <img src="{% static 'img\photo_2023-11-01_23-23-49.jpg' %}" alt="Описание картинки 1">
                <hr>
                <h3>Список гуртожитків</h3>
                <p>
                В цьому розділі користувач має можливість ознайомитись з різними гуртожитками університету. Верхній рядок представлений
                у вигляді набору кнопок, кожна з яких позначена номером гуртожитка ("Гуртожиток №1", "Гуртожиток №2" тощо). Клацніть на
                будь-яку з цих кнопок, щоб перейти до конкретної інформації про обраний гуртожиток.
            </p>
            <p>
                Після обрання конкретного гуртожитка, на екрані з'являється інформація про нього, включаючи адресу, розташування поруч
                із університетом, доступні засоби транспорту та інші деталі. Під текстовою інформацією розташовані дві ключові кнопки:
            </p>
            <ul>
                <li><b>Заселитися</b>: Клацніть на цю кнопку, щоб розпочати процес реєстрації для заселення в обраний гуртожиток. Ви
                    будете перенаправлені на сторінку реєстрації.</li><br>
                <li><b>Більше інформації</b>: Якщо ви бажаєте дізнатися більше про гуртожиток, клацніть на цю кнопку. Вас
                    перенаправить на додаткову сторінку з докладною інформацією про обраний гуртожиток.</li>
            </ul>
            <img src="{% static 'img\photo_2023-11-01_23-16-57.jpg' %}" alt="Описание картинки 2">
            <hr>
            <h3>Вікна реєстрації та логіна</h3>
            <p>
                Одне з двох модальних вікон відкривається після натискання однією з кнопок "Заселитися" на титульній сторінці.
                Якщо користувач ще не створював обліковий запис, то з'явиться вікно реєстрації. Якщо обліковий запис є — вікно логіна.
                <br>
                <br>
                <strong>Вікно реєстрації</strong>
                <ul>
                    <li>Зверху є випадаюче меню для вибору факультету, де користувач може вибрати потрібний йому варіант.</li>
                    <li>Наступні поля для введення особистої інформації: "Ім'я", "Прізвище", "E-mail".</li>
                    <li>Поля для створення паролю: "Пароль" та "Повторіть пароль".</li>
                    <li>Кнопка "Зареєструватись" для завершення регістрації.</li>
                    <li>Якщо користувач уже має обліковий запис, він може натиснути на "Увійти", щоб перейти до вікна входу.</li>
                </ul>
                <img src="{% static 'img\photo_2023-11-02_00-13-50.jpg' %}"alt="hhh">

                <p><strong>Вікно логіна</strong></p>
                <ul>
                    <li>Поля для введення особистої інформації: "E-mail" та "Пароль".</li>
                    <li>Кнопка "Увійти" для входу в систему з існуючим обліковим записом.</li>
                </ul>
                <img src="{% static 'img\photo_2023-11-02_00-14-01.jpg' %}" alt="123">
            </p>
            <hr>
            <h3>Функціональна частина</h3>
            <p>
                <strong>Вікно профілю</strong>
                <br>
                Після успішної логінації або реєстрації користувача переходить до сторінки "Особистий Профіль". Ця сторінка призначена
                для перегляду та зміни контактних даних користувача, а також для вибору фотографії профілю.
                <br>
                <br>
                <p><strong>Вікно редагування персональної інформації</strong></p>
                <p>У центрі сторінки розташоване вікно, де користувач може переглянути та змінити свої особисті дані:</p>
                <ul>
                    <li><strong>Ім'я:</strong> Поле для введення імені користувача.</li>
                    <li><strong>Прізвище:</strong> Поле для введення прізвища користувача.</li>
                    <li><strong>E-mail:</strong> Поле для введення адреси електронної пошти.</li>
                    <li><strong>Телефон:</strong> Поле для введення контактного телефону.</li>
                    <li><strong>Пароль:</strong> Поле для введення пароля.</li>
                    <li><strong>Повторіть пароль:</strong> Поле для повторного введення пароля для підтвердження.</li>
                    <li><strong>Оберіть фото:</strong> Функція, яка дозволяє користувачеві завантажити та встановити фотографію профілю.</li>
                </ul>
                <br>
                <p><strong>Контекстне меню</strong></p>
                <p>Зліва на сторінці розташоване вертикальне контекстне меню, яке містить наступні пункти:</p>
                <ul>
                    <li><strong>Профіль:</strong> Перехід на поточну сторінку профілю користувача.</li>
                    <li><strong>Мої заявки:</strong> Відкриває сторінку, де користувач може переглянути статус всіх відправлених заявок на заселення.</li>
                    <li><strong>Наші гуртожитки:</strong> Відкриває сторінку, де користувач може подати нову заявку на заселення у гуртожиток.</li>
                </ul>

                <img src="{% static 'img\photo_2023-11-01_23-17-16.jpg' %}" alt="456">
            </p>
            <p>
                <strong>Подання заявки</strong>
                <br>
                Після вибору пункту "Наші гуртожитки" у контекстному меню, користувач розпочинає процес бронювання кімнати у гуртожитку.
                <br>
                <br>
                <strong>Перший крок:</strong> На цій сторінці користувачу пропонується ознайомитись з інформацією про різні гуртожитки. Тут можна дізнатися про адресу гуртожитку,
                його розташування та основні пункти інфраструктури, які знаходяться поруч. Ця інформація допоможе користувачеві
                визначитися з найбільш підходящим для нього гуртожитком.
                <img src="{% static 'img\photo_2023-11-01_23-17-10.jpg' %}" alt="gurt">
                <br>
                <strong>Другий крок:</strong> Це сторінка вибору поверху та кімнати. Користувач може обрати конкретний поверх, натиснувши на відповідний банер, після
                чого йому буде представлений список доступних кімнат на цьому поверсі. Важливо зауважити, що якщо яка-небудь кімната вже
                зайнята, вона не буде відображена у списку. Після вибору кімнати користувач може натиснути на кнопку "Продовжити", і
                його вибір буде зафіксовано.

                <img src="{% static 'img\photo_2023-11-01_23-17-39.jpg' %}" alt="choice">
            </p>
            <p>
            <strong>Сторінка ваших заявок</strong>
            <br>
            Кожен рядок таблиці відображає окрему заявку користувача. Таблиця містить наступні стовпці:
            <br>
            <ul>
                <li><strong>Номер заяви:</strong> Унікальний номер поданої заявки.</li>
                <li><strong>Статус заяви:</strong> Поточний статус обробки заяви (наприклад, "На розгляді", "Прийнято", "Відхилено").</li>
                <li><strong>Дата подачі:</strong> Дата, коли заявка була подана користувачем.</li>
                <li><strong>Дата заселення:</strong> Планова дата, коли користувач буде заселений.</li>
                <li><strong>Гуртожиток №:</strong> Номер гуртожитка, в який користувач хоче заселитись.</li>
                <li><strong>Поверх:</strong> Номер поверху у гуртожитку.</li>
                <li><strong>Кімната:</strong> Номер кімнати у гуртожитку.</li>
            </ul>
            <br>
            <p>Поки заявка не була прийнята або відхилена, користувач має можливість відмінити її, натиснувши кнопку "Видалити".<br>
            Після переходу до меню оплати користувач може обрати зручний для себе спосіб оплати та здійснити оплату за обрану
            кімнату в гуртожитку.</p>
            <br>
            <img src="{% static 'img\photo_2023-11-01_23-17-20.jpg' %}" alt="table">
            <hr>
            <strong>Вікно оплати</strong>
            <img src="{% static 'img\photo_2023-11-02_01-12-23.jpg' %}" alt="payphone">
            </p>
        </div>
        <div class="documentation-container">
            <h2>
                Для комендантів:
            </h2>
            <hr>
                <h3>Процес логінації</h3>
                <p>
                <span id="disclaimer">*Ви пропускаєте процес регістрації*</span>
                <br>
                Увійдіть у свій обліковий запис за допомогою логіна та пароля, заздалегідь узгоджених з адміністрацією університету.
                Ви будете перенаправлені на сторінку редагування контактних даних, аналогічну сторінці, яка доступна студентам, що планують заселятись до гуртожитку.<br><br>
                (!) Ви, як комендант, не можете подавати заяву на заселення до гуртожитку, проте ви можете адмініструвати заяви, подані іншими студентами.
                <br><br>
                Так виглядає ваше контекстне меню та блок контактних даних:
                <img src="{% static 'img\photo_2023-11-02_01-31-36.jpg' %}" alt="adminEdit">
            </p>
            <hr>
            <h3>Розгляд заяв</h3>
            <p>
               Натиснувши на кнопку "Заявки" у контекстному меню, ви переходите до сторінки модерації. На ній ви переглядаєте заяви на заселення від студентів та модеруєте їх.
               <br>
               <br>
               На сторінці є таблиця, де ви можете побачити інформацію про кожну заявку:
               <ul>
                <li><strong>Номер Заявки:</strong> унікальний ідентифікатор заявки.</li>
                <li><strong>Ім'я та фамілія:</strong> ПІБ студента, який надіслав заявку.</li>
                <li><strong>Номер телефону:</strong> контактний номер телефону студента.</li>
                <li><strong>Кімната:</strong> бажана кімната для заселення.</li>
                <li><strong>Поверх:</strong> поверх, де розташована бажана кімната.</li>
                <li><strong>Гуртожиток №:</strong> номер гуртожитку.</li>
               </ul>
               <p>Окрім цього, над таблицею є фільтри для більш комфортного модерування заяв:</p>

               <ul>
                <li><strong>На розгляді:</strong> показує заявки, які ще не були розглянуті.</li>
                <li><strong>Відмовлено:</strong> показує заявки, які були відхилені.</li>
                <li><strong>Прийнято:</strong> показує заявки, які були підтверджені для заселення.</li>
               </ul>

              <p>Біля інформації про кожну заявку є дві кнопки, завдяки яким ви можете модерувати заявки:</p>

               <ul>
                <li><strong>Прийняти:</strong> натисніть, щоб підтвердити заявку на заселення.</li>
                <li><strong>Відхилити:</strong> натисніть, щоб відхилити заявку.</li>
               </ul>

               <img src="{% static 'img\photo_2023-11-02_01-31-42.jpg' %}" alt="papochkaAdmin">
            </p>
        </div>

    </main>
</body>

</html>