<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentary</title>
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    <link rel="stylesheet" href="{% static 'css\normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css\redModal.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body>
  {% if request.session.auth is not True %}
    <div class="modal-container" id="modal-window">
      <form class="modal" id="form_reg">
          <div class="row">
              <div class="custom-select">
                  <select id="faculty">
                      {% for faculty in faculties %}
                        <option value={{faculty.id}}>{{faculty.faculty}}</option>
                      {% endfor %}
                  </select>
              </div>
              <button id="close-button" type="button"><img src="{% static 'img\image 0.png' %}" height="20px" width="20px"/></button>
          </div>
          <input type="text" placeholder="Ім'я" id="first" required>
          <input type="text" placeholder="Прізвище" id="last" required>
          <input type="email" placeholder="E-mail" id="email" required>
          <input type="password" placeholder="Пароль" id="password" required>
          <input type="password" placeholder="Повторіть пароль" id="repeat_password" required>
          <span id="error"></span>
          <button class="registration-button" type="submit" id="reg_btn">Зареєструватись</button>
          <button id="login-button">Увійти</button>
      </form>
    </div>
  {% endif %}
  {% if request.session.auth is not True %}
    <div class="modal-container" id="modal-login">
      <form class="modal" id="form_login">
          <div class="row">
              <button id="close-button-login" type="button"><img src="{% static 'img\image 0.png' %}" height="20px" width="20px"/></button>
          </div>
          <input type="email" placeholder="E-mail" id="email-login" required>
          <input type="password" placeholder="Пароль" id="password-login" required>
          <span id="error-login"></span>
          <button class="registration-button" type="submit" id="login_btn">Увійти</button>
          <button id="forgot-button">Забули пароль?</button>
      </form>
    </div>
  {% endif %}
    <header>
        <div class="container">                     
            <div class="menu_main_wraper">
                <div class="logo"><img src="{% static 'img\logo.png' %}" alt="logo"></div>
                <div class="menu_wraper">
                    <ul>
                        <li><a href="#">Заселитися </a></li>
                        <li><a href="#">Наші гуртожитки</a></li>
                        <li><a href="#">Увійти до кабінету </a></li>
                        {% if request.session.auth %}
                            <li><a href="{% url 'logout' %}">Вийти</a></li>
                        {% endif %}
                        <li>
                            <select id="language">
                                <option value="ua">UA</option>
                                <option value="en">EN</option>
                                <option value="ru">RU</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main_title_wrapper">
                <div class="main_title_left">
                    <h1 class="title_main">Швидке заселення у гуртожиток</h1>
                    <p >Заселення у гуртожиток за 5 хвилин</p>
                    {% if request.session.auth %}
                      <a href="{% url 'profile' %}"><button class="main_enterens_button">Заселитися</button></a>
                    {% else %}
                        <button class="main_enterens_button" id="click">Заселитися</button>
                    {% endif %}
                </div>
                <div class="main_title_right">
                    <img src="{% static 'img\main_campus.png' %}" alt="campus">
                </div>
            </div>
           
            <div class="main_info_bootom_ultra_wrapper_ultimate_edition_extra_spasce_x_development_tochka_net_sobachka_tochka_com">
                <div class="main_contact_info_wrapper">
                    <div class="main_info_bottom">
                        <img src="{% static 'img\phone.png' %}" alt="phone">
                        <span>093 (403)32 27</span>    
                    </div>
                    <div class="main_info_bottom">
                        <img src="{% static 'img\phone.png' %}" alt="phone">
                        <span>093 (403)32 27</span>
                    </div>
                    <div class="working_hours">
                        <span>10:00AM - 5:00PM</span>
                    </div>
                </div> 
                <div class="social_media_wrapper">
                    <img id="telegram" src="{% static 'img\telegram.png' %}" alt="telegram">
                    <img src="{% static 'img\viber.png' %}" alt="viber">
                </div>
            </div>   
        </div>
    </header>
    <footer>
      <div class="container">
          <div class="contact-data">
                <h1>Контакти</h1>
                <p>Приймальна комісія</p>
                <div class="info">
                  <img src="{% static 'img\phone.png' %}" alt="phone" height="20px" width="20px">
                  <span>093 (403)32 27</span>    
                </div>
              <div class="info">
                <img src="{% static 'img\phone.png' %}" alt="phone" height="20px" width="20px">
                <span>093 (403)32 27</span>    
            </div>
          </div>
          <div class="logo-footer">
            <img src="{% static 'img\logo.png' %}" alt="logo">
          </div>
          <div class="description">
              <hr/>
              <p>© 2023 designed and developed by Bug Hunters Team</p>
          </div>
      </div>
    </footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{% static 'js\main.js' %}"></script>
</body>
</html>