<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentary</title>
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    <link rel="stylesheet" href="{% static 'css\normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css\redModal.css' %}">
    <link rel="stylesheet" href="{% static 'js\jquery-ui\jquery-ui.min.css' %}">
    <link rel="stylesheet" href= "{% static 'js\jquery-ui\jquery-ui.structure.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href= "{% static 'js\slick\slick\slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'js\slick\slick\slick-theme.css' %}"/>
</head>
<body>
  {% if request.session.auth is not True %}
    <div class="modal-container" id="modal-window">
      <form class="modal" id="form_reg">
          <div class="row">
              <div class="custom-select">
                  <select id="faculty">
                      {% for faculty in faculties %}
                        <option value={{faculty.id}}>{{faculty.faculty}}</option>
                      {% endfor %}
                  </select>
              </div>
              <button id="close-button" type="button"><img src="{% static 'img\image 0.png' %}" height="20px" width="20px"/></button>
          </div>
          <input type="text" placeholder="Ім'я" id="first" required>
          <input type="text" placeholder="Прізвище" id="last" required>
          <input type="email" placeholder="E-mail" id="email" required>
          <input type="password" placeholder="Пароль" id="password" required>
          <input type="password" placeholder="Повторіть пароль" id="repeat_password" required>
          <span id="error"></span>
          <button class="registration-button" type="submit" id="reg_btn">Зареєструватись</button>
          <button id="login-button">Увійти</button>
      </form>
    </div>
  {% endif %}
  {% if request.session.auth is not True %}
    <div class="modal-container" id="modal-login">
      <form class="modal" id="form_login">
          <div class="row">
              <button id="close-button-login" type="button"><img src="{% static 'img\image 0.png' %}" height="20px" width="20px"/></button>
          </div>
          <input type="email" placeholder="E-mail" id="email-login" required>
          <input type="password" placeholder="Пароль" id="password-login" required>
          <span id="error-login"></span>
          <button class="registration-button" type="submit" id="login_btn">Увійти</button>
          <button id="forgot-button">Забули пароль?</button>
      </form>
    </div>
  {% endif %}
    <header>
        <div class="container">                     
            <div class="menu_main_wraper">
                <div class="logo"><img src="{% static 'img\logo.png' %}" alt="logo"></div>
                <div class="menu_wraper">
                    <ul>
                        {% if request.session.auth %}
                            {% if request.session.comendant %}
                                <li><a href="{% url 'apply' %}" style="display:none">Заселитися</a></li>
                            {% else %}
                                <li><a href="{% url 'apply' %}">Заселитися</a></li>
                            {% endif %}
                            <li><a href="{% url 'profile' %}">Увійти до кабінету </a></li>
                        {% endif %}
                        <li><a href="#tabs">Наші гуртожитки</a></li>
                        {% if request.session.auth %}
                            <li><a href="{% url 'logout' %}">Вийти</a></li>
                        {% endif %}
                        <li>
                            <!-- <select id="language">
                                <option value="ua">UA</option>
                                <option value="en">EN</option>
                                <option value="ru">RU</option>
                            </select> -->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main_title_wrapper">
                <div class="main_title_left">
                    <h1 class="title_main">Швидке заселення у гуртожиток</h1>
                    <p >Заселення у гуртожиток за 5 хвилин</p>
                    {% if request.session.auth %}
                      <a href="{% url 'profile' %}"><button class="main_enterens_button">Заселитися</button></a>
                    {% else %}
                        <button class="main_enterens_button" id="click">Заселитися</button>
                    {% endif %}
                </div>
                <div class="main_title_right">
                    <img src="{% static 'img\main_campus.png' %}" alt="campus">
                </div>
            </div>
           
            <div class="main_info_bootom_ultra_wrapper_ultimate_edition_extra_spasce_x_development_tochka_net_sobachka_tochka_com">
                <div class="main_contact_info_wrapper">
                    <div class="main_info_bottom">
                        <img src="{% static 'img\phone.png' %}" alt="phone">
                        <span>093 (403)32 27</span>    
                    </div>
                    <div class="main_info_bottom">
                        <img src="{% static 'img\phone.png' %}" alt="phone">
                        <span>093 (403)32 27</span>
                    </div>
                    <div class="working_hours">
                        <span>10:00AM - 5:00PM</span>
                    </div>
                </div> 
                <div class="social_media_wrapper">
                    <a href="https://t.me/dniprotech"><img id="telegram" src="{% static 'img\telegram.png' %}" alt="telegram"></a>
                    <img src="{% static 'img\viber.png' %}" alt="viber">
                </div>
            </div>   
        </div>
    </header>
    <section>
      <div class="container">
       <div id="tabs">
           <h2>Наші Гуртожитки</h2>
           <ul >
              {% for campus in campuses %}

               <li><a href="#tab-{{campus.id}}">Гуртожиток №{{campus.number}}</a></li>
               <!-- <li><a href="#tab-2">Гуртожиток №2</a></li>
               <li><a href="#tab-3">Гуртожиток №3</a></li>
               <li><a href="#tab-4">Гуртожиток №4</a></li>
               <li><a href="#tab-5">Гуртожиток №5</a></li>
               <li><a href="#tab-6">Гуртожиток №6</a></li> -->
              {% endfor %}
           </ul>
        {% for campus in campuses %}
          <div class="tab-wrapper-main" id="tab-{{campus.id}}">
              <div class="main-slider-wrapper">
              <div class="main-slider-wrapper-extra">
                  <div class="slider-main-wrapper">
                      <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                      <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                      <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                      <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  </div>
                    <div class="slider-main-control"> 
                      <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                      <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                      <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                      <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  </div>
              </div>
                  <div class="right-info-slider-wrapper">
                      <h3>Гуртожиток №{{campus.number}}</h3>
                      <h5>Адрес: <strong>{{campus.address}}</strong></h5>
                      <p>{{campus.detail_text}} </p>
                      <div class="button-slider-wrapper">
                          <button class="main_enterens_button-slider">Заселитися</button>
                          <a href="{% url 'detail' pk=campus.id %}"><button class="main_enterens_button-slider-1">Більше інформації</button></a>
                      </div>
                  </div>
              </div>
            </div>
        {% endfor %}
       <!-- <div class="tab-wrapper-main" id="tab-2">
          <div class="main-slider-wrapper">
           <div class="main-slider-wrapper-extra">
              <div class="slider-main-wrapper">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
              </div>
                 <div class="slider-main-control"> 
                   <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
              </div>
          </div>
              <div class="right-info-slider-wrapper">
                   <h3>Гуртожиток №2</h3>
                   <h5>Адрес: <strong>Гагаріна 5б</strong></h5>
                   <p>Lorem ipsum dolor sit amet, consectetur<br>
                      adipiscing elit, sed do eiusmod tempor incididunt<br>
                      ut labore et dolore magna aliqua. Ut enim<br>
                      ad minim veniam, quis nostrud exercitation<br>
                      ullamco laboris nisi ut aliquip ex ea<br>
                      commodo consequat. Duis aute irure dolor<br>
                      in reprehenderit in voluptate velit esse cillum<br>
                      dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                          </p>
                   <div class="button-slider-wrapper">
                       <button class="main_enterens_button-slider">Заселитися</button>
                       <button class="main_enterens_button-slider-1">Більше інформації</button>
                   </div>
              </div>
          </div>
        </div>
        <div class="tab-wrapper-main" id="tab-3">
          <div class="main-slider-wrapper">
           <div class="main-slider-wrapper-extra">
              <div class="slider-main-wrapper">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
              </div>
                 <div class="slider-main-control"> 
                   <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
              </div>
          </div>
              <div class="right-info-slider-wrapper">
                   <h3>Гуртожиток №3</h3>
                   <h5>Адрес: <strong>Гагаріна 5б</strong></h5>
                   <p>Lorem ipsum dolor sit amet, consectetur<br>
                      adipiscing elit, sed do eiusmod tempor incididunt<br>
                      ut labore et dolore magna aliqua. Ut enim<br>
                      ad minim veniam, quis nostrud exercitation<br>
                      ullamco laboris nisi ut aliquip ex ea<br>
                      commodo consequat. Duis aute irure dolor<br>
                      in reprehenderit in voluptate velit esse cillum<br>
                      dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                          </p>
                   <div class="button-slider-wrapper">
                       <button class="main_enterens_button-slider">Заселитися</button>
                       <button class="main_enterens_button-slider-1">Більше інформації</button>
                   </div>
              </div>
          </div>
        </div>
        <div class="tab-wrapper-main" id="tab-4">
          <div class="main-slider-wrapper">
           <div class="main-slider-wrapper-extra">
              <div class="slider-main-wrapper">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
              </div>
                 <div class="slider-main-control"> 
                   <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                  <img src="{% static 'img\main_campus.png' %}" alt="main campus">
              </div>
          </div>
              <div class="right-info-slider-wrapper">
                   <h3>Гуртожиток №4</h3>
                   <h5>Адрес: <strong>Гагаріна 5б</strong></h5>
                   <p>Lorem ipsum dolor sit amet, consectetur<br>
                      adipiscing elit, sed do eiusmod tempor incididunt<br>
                      ut labore et dolore magna aliqua. Ut enim<br>
                      ad minim veniam, quis nostrud exercitation<br>
                      ullamco laboris nisi ut aliquip ex ea<br>
                      commodo consequat. Duis aute irure dolor<br>
                      in reprehenderit in voluptate velit esse cillum<br>
                      dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                          </p>
                   <div class="button-slider-wrapper">
                       <button class="main_enterens_button-slider">Заселитися</button>
                       <button class="main_enterens_button-slider-1">Більше інформації</button>
                   </div>
              </div>
          </div>
        </div>
        <div class="tab-wrapper-main" id="tab-5">
            <div class="main-slider-wrapper">
            <div class="main-slider-wrapper-extra">
                <div class="slider-main-wrapper">
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                </div>
                  <div class="slider-main-control"> 
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                </div>
            </div>
                <div class="right-info-slider-wrapper">
                    <h3>Гуртожиток №5</h3>
                    <h5>Адрес: <strong>Гагаріна 5б</strong></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur<br>
                        adipiscing elit, sed do eiusmod tempor incididunt<br>
                        ut labore et dolore magna aliqua. Ut enim<br>
                        ad minim veniam, quis nostrud exercitation<br>
                        ullamco laboris nisi ut aliquip ex ea<br>
                        commodo consequat. Duis aute irure dolor<br>
                        in reprehenderit in voluptate velit esse cillum<br>
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            </p>
                    <div class="button-slider-wrapper">
                        <button class="main_enterens_button-slider">Заселитися</button>
                        <button class="main_enterens_button-slider-1">Більше інформації</button>
                    </div>
                </div>
            </div>
          </div>
          <div class="tab-wrapper-main" id="tab-6">
            <div class="main-slider-wrapper">
            <div class="main-slider-wrapper-extra">
                <div class="slider-main-wrapper">
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                </div>
                  <div class="slider-main-control"> 
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                    <img src="{% static 'img\main_campus.png' %}" alt="main campus">
                </div>
            </div>
                <div class="right-info-slider-wrapper">
                    <h3>Гуртожиток №6</h3>
                    <h5>Адрес: <strong>Гагаріна 5б</strong></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur<br>
                        adipiscing elit, sed do eiusmod tempor incididunt<br>
                        ut labore et dolore magna aliqua. Ut enim<br>
                        ad minim veniam, quis nostrud exercitation<br>
                        ullamco laboris nisi ut aliquip ex ea<br>
                        commodo consequat. Duis aute irure dolor<br>
                        in reprehenderit in voluptate velit esse cillum<br>
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            </p>
                    <div class="button-slider-wrapper">
                        <button class="main_enterens_button-slider">Заселитися</button>
                        <button class="main_enterens_button-slider-1">Більше інформації</button>
                    </div>
                </div>
            </div>
          </div> -->
          </div>
       </div>
   </section>
    <footer>
      <div class="container">
          <div class="contact-data">
                <h1>Контакти</h1>
                <p>Приймальна комісія</p>
                <div class="info">
                  <img src="{% static 'img\phone.png' %}" alt="phone" height="20px" width="20px">
                  <span>093 (403)32 27</span>    
                </div>
              <div class="info">
                <img src="{% static 'img\phone.png' %}" alt="phone" height="20px" width="20px">
                <span>093 (403)32 27</span>    
            </div>
          </div>
          <div class="logo-footer">
            <img src="{% static 'img\logo.png' %}" alt="logo">
          </div>
          <div class="description">
              <hr/>
              <p>© 2023 designed and developed by Bug Hunters Team</p>
          </div>
      </div>
    </footer>

    <script type="text/javascript" src="{% static 'js\jquery.js' %}"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="{% static 'js\slick\slick\slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js\jquery-ui\jquery-ui.min.js' %}"></script> 
    <script>
          $('.slider-main-wrapper').slick({
    dots: false,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    slidesToScroll: 1
  });
          $('.slider-main-control').slick({
              slidesToShow: 3,
    slidesToScroll: 1,
    arrows: false,
    vertical: false,
    dots: true,
    infinite: false,
    asNavFor: '.slider-main-wrapper',
    focusOnSelect: true,
    centerMode: true,
    variableWidth: true
          });
        $('#tabs').tabs();
    </script>
    <script src="{% static 'js\main.js' %}"></script>
</body>
</html>