<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Window</title>
    <link rel="stylesheet" href="redModal.css">
</head>

<body>
    <div class="modal-container" id="modal-window">
            <form class="modal">
                <div class="row">
                    <div class="custom-select">
                        <select id="faculty">
                            <option>Факультет 1</option>
                            <option>Факультет 2</option>
                        </select>
                    </div>
                    <button id="close-button" type="button"><img src="image 5.png" height="20px" width="20px"/></button>
                </div>
                <input type="text" placeholder="Ім'я">
                <input type="text" placeholder="Прізвище">
                <input type="email" placeholder="E-mail">
                <input type="password" placeholder="Пароль">
                <input type="password" placeholder="Повторіть пароль">
                <button class="registration-button">Зареєструватись</button>
                <button id="login-button" type="submit">Увійти</button>
            </form>
    </div>
</body>

</html>