/* Общие стили */
body {
    font-family: 'Inter', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

header,
aside,
main {
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap-body {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

/* Стили для хедера */
#admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 180px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li {
    margin: 0;
}

#language {
    margin-left: 20px;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    outline: none;
    border: none;
    font-family: "Inter", "Roboto", sans-serif;
}

/* Стили для бокового меню */
aside,
.floor-container {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
    background-color: #FFF;
    border-radius: 8px;
    padding: 20px;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    margin-right: 20px;
    margin-top: 150px;
}

aside p {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

aside p:hover {
    background-color: #f0f0f0;
}

/* Стили для таблицы */
.top-selection-text {
    font-family: "Inter", "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.floor-container {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    border-radius: 8px;
    padding: 20px;
    width: 800px;
    margin-top: 130px;
    overflow-y: hidden;
    overflow-x: auto;
    font-family: "Roboto", sans-serif;
}

.hostel-floor-selector {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 70px;
}

.floor-button {
    padding: 10px;
    background-color: #F5FAFF;
    border: none;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 18px;
}

.floor-button:hover {
    background-color: #D4D4D4;
}

.room-grid {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.room-grid button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.room-grid button.selected {
    background-color: #F84D4D;
}

#continue-button {
    margin-top: 20px;
    display: none;
    padding: 10px 20px;
    background-color: #F84D4D;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.8;
    font-size: 16px;
}

#continue-button:hover {
    opacity: 1;
}