body {
    font-family: 'Inter', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

header,
aside,
main {
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

#admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 180px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li {
    margin: 0;
}

#language {
    margin-left: 20px;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    outline: none;
    border: none;
    font-family: "Inter", "Roboto", sans-serif;
}

.payment-container {
    background-color: #FFF;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 20%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
}

h2 {
    font-weight: 700;
}

.payment-image {
    width: 300px;
    height: auto;
    max-height: 33%;
}

a.payment-btn {
    display: inline-block;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: white;
    width: 100%;
    text-align: center;
}

a.privat24-btn {
    background-color: #1DBF73;
    border: 1px solid black;
}

a.monobank-btn {
    background: linear-gradient(135deg, #A189F4, #8BA4F9);
}

a.paypal-btn {
    background-color: white;
    color: #003087;
    border: 1px solid #003087;
}

a.paypal-btn:hover {
    background-color: #003087;
    color: white;
}

a.privat24-btn:hover {
    background-color: #155724;
}

a.monobank-btn:hover {
    background: linear-gradient(160deg, #9c4dff 0%, #ac70ff 100%);
}

.transparent-text {
    opacity: 0.6; 
    margin-top: 20px;
    font-size: 14px;
    font-family: "Inter", "Roboto", sans-serif;
}