@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Bold.woff') format('woff2'), /* Если у вас есть файл WOFF2 */
         url('/fonts/Gilroy-ExtraBold.woff') format('woff'); /* Если у вас есть файл WOFF */
    /* Дополнительные форматы шрифта можно указать здесь */
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

.container{
    max-width: 1650px;
    margin: 0 auto;
    padding: 20px;
}

header{
    height: 100%;
    background:url("../img/bg2.jpg") no-repeat;
    background-size: cover;
    padding-bottom: 5px;


}

ul{
    display: flex;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
    font-family: 'Gilroy', sans-serif;
    padding-left: 45px;
    font-size: 32px;
}


ul li:first-child{
    padding-left: 0px;
}
ul li a{
    color: white;
}
ul li a{
    transition: all 0.5s ease;    
    color: white;
}

ul li select{
    color: white;
    border: none;
    background-color: transparent;
    outline: none; 
}

ul li select option{
    color: white;
    border-color: none;
    outline: none;
    background-color: rgba(30, 30, 30, 0.9);
}

.menu_main_wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.title_main{
    color: #FFF;
    font-family: 'Roboto';
    font-size: 74px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
}
.main_title_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.main_title_left p{
    color: #FFF;
    font-family: 'Roboto';
    font-size: 34px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.main_enterens_button{
    border-radius: 100px;
    background: #F84D4D;
    color: #FFF;
    font-family: 'Gilroy';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 21px 106px;
}

.main_info_bootom_ultra_wrapper_ultimate_edition_extra_spasce_x_development_tochka_net_sobachka_tochka_com{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_contact_info_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_info_bottom:first-child {
    padding-right: 50px;
}
.main_info_bottom{
    display: flex;
}
.main_info_bottom span{
    display: block;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 14px;
}
.working_hours{
    color: #FFF;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 90px
}
.main-slider-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .right-info-slider-wrapper{
        margin-left: 60px;
    }
    .right-info-slider-wrapper h3{
    color: #000;
    margin-top: 0;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    margin-bottom:14px;
    line-height: normal;
    }
    .right-info-slider-wrapper h5{
        color: #000;
    padding: 0;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    margin-bottom:14px;
    margin-top:0px;
    line-height: normal;
    }
    .right-info-slider-wrapper h5 strong{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    .right-info-slider-wrapper p{
    color: #000;
    margin-top:0;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    margin-bottom:30px;
    line-height: normal;
    }
    .slick-track img {
        
    }
    .slider-main-wrapper{
       
    
    }
    
    .main_enterens_button-slider{
        border-radius: 100px;
        color: #000;
        border: 1px solid !important;
        font-family: Roboto;
        background: transparent;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        padding: 17px 37px 14px 37px;
    /* border:none; */
    }
    .main_enterens_button-slider-1{
    border-radius: 100px;
    border: 1px solid !important;  
    color: #000;
    background: transparent;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    padding: 13px 34px 13px 26px;
    border:none;
    margin-left: 20px;
    }
    
    .main-slider-wrapper-extra{
        width: 40%;
    }
    
    img {
      max-width: 100%;
    }
    
    .slider-main-control .slick-slide {
      width: 100px;
      height: 150xp;
      cursor:pointer;
      border:2px solid transparent;
    }
    
    .slider-main-control .slick-slide img {
      width: 100%;
      height: 100%;
      object-fit:cover;
      display: block;
    }
    
    .slider-main-control .slick-slide.slick-current {
      border-color: skyblue;
    }
    .slick-slider {
    touch-action: auto;
    -ms-touch-action: auto;
    }
    
    .slider-main-control .slick-list .slick-track{
        transform: translate3d(0px, 0px, 0px) !important;
    }
    
    .slider-main-control .slick-list{
        padding: 0 !important;
    }
    
    .slick-dots li.slick-active button:before{
        color: #F84D4D !important;
    }
    
    .slick-dots li button:before{
            font-size: 10px !important;
            color: #D9D9D9 !important;
            opacity: 1 !important;
    }
    

#telegram{
    width: 47px;
    margin-right: 10px;
}
footer{
    height: 100%;
    background:url("../img/bg2.jpg") no-repeat;
    background-size: cover;
}
.contact-data{
    display: flex;
    color: white;
    flex-direction: column;
    font-family: 'Roboto';
}
.info{
    margin-bottom: 20px;
    font-size: 32px;
}
.contact-data h1{
    font-size: 64px;
    margin-bottom: 0;
}
.contact-data p{
    font-size: 32px;
}
.logo-footer{
    display: flex;
    justify-content: end;
    margin-left: auto;
    transform: translateY(-175%)
}

.description hr{
    width: 100%;
    margin: 2rem 0;

}
.description p{
    font-family: "Gilroy";
    color: white;
    text-align: center;
    font-size: 32px;
    margin-bottom: 0;
}
#tabs ul li a{
    color: #000; 
    
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    }
  
button {
    cursor: pointer;
}
#tabs ul li:hover a {
    color: #fff;
}
#tabs ul li {
    cursor: pointer;
}
#tabs ul li:hover {
    background-color: #F84D4D;
}
.menu_wraper ul li a:hover{
    color: #D9D9D9;
}
    
#tabs ul {
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        max-width: 800px;
        padding-bottom: 32px;
}
.ui-tabs-active{
        border-radius: 15px;
    background: #F84D4D !important;
    
    }
.ui-tabs-active a{
    color: #fff !important;
    
}
    
.ui-state-default{
    border-radius: 15px;
    background: #F5FAFF;
}
    
.ui-tabs .ui-tabs-nav li{
        margin: 1px 0.2em 20px 20px !important;
}
h2{
        color: #000;
        text-align:center;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.slick-dots{
        position: static !important;
        padding-top:20px !important;
}
.ui-tabs-panel{
        
}
.button-slider-wrapper{
        display: flex;
}
.main-slider-wrapper .main-slider-wrapper-extra .slider-main-wrapper .slick-list .slick-track{
    width: 5760px !important;
       
}
    
.main-slider-wrapper-extra .slider-main-wrapper .slick-list .slick-track img{
            width: 640px !important
}
.button-slider-wrapper a button:hover{
    background: #F84D4D;
    color: #fff;
    transition: all 0.8s ease;
}